# .Gitignore

*~
*.log
/auto/
.fuse*
.jobcount
.runittime
demoscript
doit
q*.tgz
nuweb/auto/
nuweb/*.aux
nuweb/*.bbl
nuweb/*.blg
nuweb/*.idx
nuweb/*.ilg
nuweb/*.ind
nuweb/outline.org
nuweb/*.out
nuweb/*.tex
nuweb/*.toc
nuweb/Pipeline_NL_Lisa.w
nuweb/m4_Pipeline_NL_Lisa.w
env
slurm*
magicplace_2
old.*
logs
dutch-pipeline-job
dutch_pipeline_job.o*
dutch_pipeline_job.e*
data

